*{
	width:100%;
	border:1px solid black;
	-moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

/* MAIN CONTAINER AND GLOBAL STYLES */

body{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	/* FF3.6-15 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); 
	
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
	
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 

	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); 
	
	/* Font */
	font-family: 'Open Sans', sans-serif;
  	font-weight:400;
  	font-size:14px;
}

h1{
	font-weight:800;
	font-size:48px;
	padding:2px;
}

h2{
	font-weight:600;
	font-size:36px;
	padding:2px;

}

h3{
	font-weight:400;
	font-size:24px;
	padding:2px;

}

h4{
	font-family: 'Open Sans', sans-serif;
	font-style: bold;

}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
     
}


#container{
	width:90%;
	margin:0 auto;
}

/* NAVIGATION */

nav{
	height:60px;
	background: #222e3f;
	border-radius:5px;
	
}

nav ul{
	padding:0;
	margin:0;
	float:right;
	background: #333333;
	border-radius:5px;
	height:.25em;
	transition:height 1s;

}

nav li{
	width:15%;
	height:40px;
	float:right;
	margin:10px;
	color:white;
	font-weight:800;
	font-size:18px;
	color:red!important;
}

nav li:first-child{
	float:right;
	display:none;
}

nav li a:hover {
	color: yellow;
}

.line {
	width:3em;
	height:0.3em;
	background-color: #ff9933;
	border-radius: 0.5em;
	margin-top:0.25em;
	margin-right:5px;

}

.logo{
	height:7px;
	width: 30%;
	float:left;
	clear:right;
	color:#ff6908;
	font-weight:800;
	font-size:32px;
	position:absolute;
	top:5px;
	left:75px;
	z-index:1;

}
/* MAIN CONTENT */

.hero { 
	position:relative; 

}

.hero video {
	border-radius:5px;
    height:100%;
    position:relative;
    z-index:0;
    margin:2px;
}

.overlay {
    position:absolute;
    top: 40%;
    text-align:center;
    z-index:1;
    color:white;
}

#scroller{
	background-color:red;
	border-radius:10px;
	width:155px;
	margin-left:auto;
	margin-right:auto;
    top: 95%;
    text-align:center;
    z-index:1;
    color:white;

}

/* ACCORDION */
 
.accordion {
    overflow:hidden;
    padding:25px;
    margin-top:25px;
    margin-bottom:25px;
    width:auto;
    background-color: white;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:7px;
    margin-right:auto;
    margin-left:auto;
   
}
 
	.accordion-section-title  {
    width:100%;
    padding:15px;
    margin-top:20px;
    margin-bottom: 10px;
    border-radius:7px;
    display:inline-block;
    transition:all linear 0.15s;
    font-size:40px;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    text-align: center;
    text-decoration:none;
	/* Old browsers */
	background: rgb(125,126,125); 
	/* FF3.6-15 */
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); 
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); 
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); 
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); 
	

}

.accordion-section-content {
    padding:15px;
    display:none;
    background-color:white;
    border-radius:7px;

}

.accordion-section-title:hover, .accordion-section-title.active {
    border:1px solid red;
    text-decoration:none;
}

/* FORM */

#form{
	width:40%;
	margin:auto;
	background-color:white;
	padding-bottom:40px;
	padding-top:40px;
	margin-bottom:20px;
	border: 1px solid black;
}

#form li{
  margin-top:10px;
  margin-right:10px;
  list-style:none;
  padding: 6px 6px;
  
}

#form li label{
  width:120px;
  padding: 6px 6px;
  display:inline-block;
  font-weight: 400;
}

input{
  font-size: 15px;
  width:50%;
  border: 1px solid red;
  padding: 6px 6px;
  margin: 5px;
  background: gray;
  color:white;
  
}

input[name="submit"]{
  margin:20px;
  width:150px;
  background-color: yellow;
  border:1px solid black;
  border-radius:5px;
  color:black;
}

select{
  margin:20px;
  width:100px;
  height:45px;

  background-color: gray;
  border:1px solid black;
  border-radius:2px;
  color:black;
  border: 1px solid red;
  padding: 6px 6px;
  margin: 60px;
}



/* FOOTER */

footer{
	
	clear:both;
	height:45%;
	border: none;
	border-radius:5px;
	background: #222e3f;
	padding-bottom: 10px;
	-webkit-box-shadow: 11px 3px 92px -9px rgba(0,0,0,0.73);
	-moz-box-shadow: 11px 3px 92px -9px rgba(0,0,0,0.73);
	box-shadow: 11px 3px 92px -9px rgba(0,0,0,0.73);

}

.button {
  background: yellow;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-size:18px;
  text-decoration: none;
  padding:8px;
  width: 280px;
  height: 45px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 20px auto;
  -webkit-box-shadow: 11px 3px 92px -9px rgba(0,0,0,0.73);
	-moz-box-shadow: 11px 3px 92px -9px rgba(0,0,0,0.73);
	box-shadow: 11px 3px 92px -9px rgba(0,0,0,0.73);

}

.icons{
  height:75px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top:15px;
	
}

.icons img{
  height:40px;
  width:40px;
  border-radius: 20px;
  float:none;
  display: inline-block;
  margin: 0 auto;
	
}

.copyright{
	text-align:center;
	padding-top:5px;
	color:white;
}

#credit {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:10px;
  text-align:center;
  color:white;
}

#credit a {
  color:white;
}


/* MOBILE VERSION */

@media only screen and (max-width: 982px){

nav{
	clear:both;
	float:none;
}

nav li{
	float:none;
}

nav li:first-child{
	display:block;
	position:absolute;
	top:5px;
	right:5px;
	padding-right:0.5em
}

nav ul.downNav{
	height:18em;
	float:left;
	padding-top:55px;
	padding-left: 20px;

}

.logo{
	font-size:24px;

}

#line {
	width:3em;
	height:0.3em;
	background-color: #ff9933;
	border-radius: 0.5em;
	margin-top:0.25em;
	margin: 0.25em;
}

.clearfix:after {
     content: ".";
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.hero {
    clear:both;
}

#overlay{
	clear:both;
}

h1, h3{
    font-size:30px;
}
